<div class="mt-4 card pb-5" style="margin-bottom: 100px">
    <div class=" card-header text-center bg-primary py-2">
        <h1>About</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-lg-4 align-items-center text-center mt-2">
                <img src="@Url.Content("~/Images/Linkedin_Size.jpg")" alt="A Photo of Kyle Hochdoerfer" class="img-fluid">
            </div>
            <div class="col-sm-12 col-lg-6 mt-2">
                <h3>Hi, I'm Kyle Hochdoerfer</h3>
                <p class="mt-3 mb-3">
                    I’m a graduate of Bellevue University’s Web Development cohort, and a driven and highly detail oriented person. I take
                    a lot of pride in my work, which is why I’m eager to put my skills to the test as a Full-Stack Developer, Web Developer, or related role. <br><br>

                    This web application, Rentflix, is an MVC app that I built using Microsoft ASP .NET and Entity Framework Core, and hosted using Microsoft Azure.
                    As a mock movie rental website, it's a portfolio piece designed to show off my skills as a developer using .NET and RESTful API. Anyone can view a list 
                    of movies using the browse page, and by logging in and creating an account, you can (pretend to) rent movies, return them, view a list of your past and current rentals, 
                    and view and write reviews for each movie.
                </p>

                <a href="https://kylehoc.github.io/web-portfolio/#/home" class="btn btn-primary" style="font-size: 1.1rem">Check out my Portfolio</a>
            </div>
        </div>
    </div>
</div>